#recipe-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow-y: scroll;
}

#modal-content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  margin-top: 50px;
  overflow-y: scroll;
}

#modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: none;
  height: 60%
}

::-webkit-scrollbar {
  display: none;
}

.recipeimg{
  height: 60%;
}

.recipetxt{
height: 40%;
}

#close-modal {
  background-color: green;
  border-radius: 50px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

#close-modal svg {
  fill: #ff0000;
}

#close-modal:hover svg {
  fill: #cc0000;
  border-radius: 50px;
}


/* Add CSS click effect */
#close-modal:active svg {
  transform: scale(0.9);
  fill: #990000; }